.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selectable{
  cursor: pointer;
}

body {
  /*padding-top: 70px;*/
}


/*
 * Sidebar
 */

.sidebar {
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 0;
  transform: translateX(0px);
  width: 350px;
  max-width: 350px;
  z-index: 1000;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  padding-left: 0;
  padding-right: 0;
  background: lightgrey;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav .nav {
  /* Sub menu items */
  margin-bottom: 0;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-sub-item {
  background-color: hsl(0,0%,90%);
}

.sidebar .nav-item:hover {
  background-color: hsl(100,0%,90%);
}

/*a.nav-link.selectable:focus {*/
  /*color: var(--pale-ale) !important;*/
/*}*/


.sidebar .nav-link {
  padding-left: 40px;
  border-radius: 0;
  font-size: 1.4rem;
}

a.nav-link.selectable:focus {
  text-decoration: underline;
}

a.nav-link.selectable.active:focus {
  text-decoration: underline;
}

.sidebar .nav-link.active {
  /*background: #F0D860;*/
  /*color: #181818;*/
}
